<h2>New Post</h2>

<form action="/posts" method="post">
<p>
  <label for="author">Author</label>
  <input type="text" name="author" id="author_input">
  <!-- The ID helps with page accessibility and tells you / the coder what a field means -->
</p>

<p>
  <label for="image">Image URL</label>
  <input type="text" name="image" id="image_input">
</p>

<p>
  <label for="body">Body</label>
  <input type="text" name="body" id="body_input">
</p>
  <button>Submit</button>
</form>
